.index {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: larger;
}

img {
    max-width: 99%;
    max-height: 99%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
